@import "config";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-align: center;
}

html {
	line-height: 1.15; 
	-webkit-text-size-adjust: 100%; 
	font-family: 'Poppins', sans-serif;
}

img {
	max-width: 100%;
}

h1 {

}

h2 {

}

h3 {

}

button {
	
}