@import "config";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-align: center;
}

html {
	line-height: 1.15; 
	-webkit-text-size-adjust: 100%; 
	font-family: 'Poppins', sans-serif;
}

img {
	max-width: 100%;
}